body {
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
  text-decoration: none !important;
}

#map {
    height: 90%;
    width: 31.6%;
    position: fixed !important;
    margin-top: 2.7%;
    margin-bottom: 2.5%;
}

.col-sm-4 {
    background-color: #EEFBFA !important;
    display: flex;
    justify-content: center;
}

.col-sm-8 {
    background-color: #EEFBFA !important;
}

#owncards {
    display: inline-flex;
    width: auto;
    height: 150px;
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.04);
}

.card-body{
    text-align: center !important;
}

.card-title{
    color: black !important;
    text-decoration: none !important;
    font-size: 1.3em;
}

#restaurantrow {
    margin-bottom: 2%;
}

#attractionrow {
    margin-bottom: 10%;
}

#restauranttitle{
    color: #FF9F1C;
    text-align: center;
}

#attractiontitle{
   color: #2EC4B6;
   text-align: center;
}

#hoteltitle{
    color: #4A8FE7;
    text-align: center;
}

#topspace{
    margin-top: 2%;
}

#middlespace{
    margin-top: 3%;
}
#youritinerary{
    text-align: center;
}