body {
    font-family: 'IBM Plex Sans', sans-serif;
}
input{
    border: 0px solid;
    border-bottom: 1px solid lightgrey;
}
input:focus {
    outline: 0;
}

.welcome{
    margin-top: 2%;
    text-align: center;
}

.homeBg{
    background-image: url("/static/css/landingPageImg.jpeg");
    background-size: cover;
    width: 100%;
    height: 100%;
    /* margin-bottom: 2%; */
}
#formContainer{
    background-color: white;
    display: flex;
    padding: 5%;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    box-sizing: border-box;
    /* margin-bottom: 2%; */
    margin-top: -19%;
    flex-wrap: wrap;
}
.formInput{
    margin-right: 5%;
    margin-left: 7%;
    padding: 0.5%;
}
input[type=submit] {
    background-color: #4A8FE7;
    border-radius: 30px;
    padding: 1%;
    transition: transform .2s;
}
input[type=submit]:hover{
    transform: scale(1.1);
}
.holdForm{
    background-color: #CBF3F0;
    padding: 10%;
}


/*results.html styling starts below */
#restHeader{
    color: #FF9F1C;
}
#hotelsHeader{
    color: #4A8FE7;
}
#thingsHeader{
    color: #2EC4B6;
}

#map {
    height: 100%;
    width: 100%;
}

.col-sm-4{
    background-color: pink;
}

.col-sm-8{
    background-color: lavender;
}