body {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    /* cursor: url("cursormap.png"), auto; */
}

#titlepic {
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: white !important;
}

input {
    border: 0px solid;
    border-bottom: 1px solid lightgrey;
}
input:focus {
    outline: 0;
}

.homeBg {
    background-image: url("/static/css/landingPageImg.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    /* margin-bottom: 2%; */
}
#formContainer {
    background-color: white;
    display: flex;
    padding: 5%;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    box-sizing: border-box;
    margin-top: -19%;
    flex-wrap: wrap;
}
.formInput {
    margin-right: 5%;
    margin-left: 7%;
    padding: 0.5%;
}
input[type=submit] {
    background-color: #4A8FE7;
    border-radius: 30px;
    padding: 1%;
    transition: transform .2s;
}
input[type=submit]:hover{
    transform: scale(1.1);
}
.holdForm {
    background-color: #CBF3F0;
    padding: 8%;
}

/* result.html style below */

#map {
    height: 90%;
    width: 31.6%;
    position: fixed !important;
    margin-top: 2.7%;
    margin-bottom: 2.5%;
}
.col-sm-3 {
    background-color: #CBF3F0;
}

.col-sm-6 {
    background-color: #CBF3F0;
}

#popularplaces{
    text-align: center;
}

#emptybottom{
    margin-bottom: 5%;
}

.col-sm-4 {
    background-color: beige !important;
    display: flex;
    justify-content: center;
}

.col-sm-8 {
    background-color: beige !important;
}

#owncards {
    display: inline-flex;
    width: auto;
    height: 150px;
    object-fit: cover;
}

.card-title{
    text-align: center !important;
    color: black !important;
    text-decoration: none !important;
    font-size: 1.3em;
}

#restaurantrow {
    margin-bottom: 2%;
}

#attractionrow {
    margin-bottom: 10%;
}

.w-100 {
  width: 50% !important;
  height: 70vh;
}

.entirething{
    width: 100%;
}


.testing123 {
  text-align: center;
  color: black !important;
  padding-top:0.25em;
}
body{
  text-decoration: none !important;
}

#restauranttitle{
    color: #FF9F1C;
}

#attractiontitle{
   color: #2EC4B6;
}

#hoteltitle{
    color: #4A8FE7;
}

#topspace{
    margin-top: 2%;
}