<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    </head>
    <body>
        <h1>Welcome!</h1>
        <div class="homeBg"></div>
        <div class="holdForm">
            <form id = "formContainer" method="post" action="/results">
                <input class = "formInput" type="text" name="location" placeholder="Where to?"/>
                <input class = "formInput" type="number" name="days" placeholder="How many days?"/>
                <input class = "formInput" type="submit" value="Let's go!"/>
            </form>
        </div>
        <!-- <div class="divUnderInput">
            <h2> book flights</h2>
        </div> -->
    </body>
</html>
